@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&family=Roboto+Mono:wght@100&display=swap');

.card {
    max-width: 350px;
    background-color: #fd7557;
    border-radius: 25px;
    padding: 30px;
    font-family: 'Poppins', sans-serif;

    &__item {
        padding: 10px;
    }

    &__plan {
        font-size: 22px;
    }

    &__price {
        font-weight: 600;
        font-size: 40px;
    }
}

div[albert]{
    background-color: yellow;

}

// ESSA REGRA É PARA O BOTÃO DE CANCELAR DO CARD COMPONENT UTILIZANDO SHADOW DOM 
// .card-cancel-button {
//     background-color: red !important;
// }

// ESSA REGRA SO VAI AFETAR PARA ESSE COMPONENTE (CARD) E NÃO DE FORMA GLOBAL
// .emulated{
//     background-color: red;
// }

// ESSA REGRA VAI AFETAR DE FROMA GLOBAL
// ::ng-deep .card-cancel-button{
//     background-color: red !important;
// }

// .card-button-cancel{
//     background-color: greenyellow !important
// }

// ESSA REGRA SO VAI AFETAR PARA ESSE COMPONENTE (CARD) E NÃO DE FORMA GLOBAL 
// :host ::ng-deep mat-slider .mdc-slider__track--active_fill {
//     border-color: yellowgreen !important;
// }

//O ng-deep esta configurado para modo global, ou seja, ele irá afetar todos os componentes que estiverem dentro do componente pai (card.component.scss)
// ::ng-deep .card-cancel-button {
//     background-color: yellow !important;
// }

// O host é o componente que está sendo referenciado no arquivo de estilo do componente filho (card-button-cancel-2.component.scss)
// :host ::ng-deep app-card-button-cancel .card-cancel-button {
//     background-color: yellow !important;
// }

// O ng-deep é uma forma de acessar o componente filho a partir do componente pai (card.component.scss)
// ::ng-deep app-card-button-cancel .card-cancel-button{
//     background-color: yellow !important;
// }

// ::ng-deep #cancel-button .card-cancel-button{
//     background-color: yellow !important;
// }