.card-button1 {
  font-size: 16px;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  padding: 20px;
  margin-left: 20px;
}

.card-button2 {
  font-size: 16px;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  padding: 20px;
  margin-left: 20px; 
}


.card-button3 {
  font-size: 16px;
  // text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  padding: 20px;
  margin-left: 20px;
}