.card-button1 {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  // font-weight: bold;
  padding: 20px 40px;
  margin-left: 10px;
}

.card-button2 {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  padding: 20px;
  margin-left: 10px; /* ou qualquer valor desejado */
}


.card-button3 {
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
  border-radius: 25px;
  cursor: pointer;
  // font-weight: bold;
  padding: 10px
}